.mce-container{
    margin-bottom:0.5em;
}
.write-view > article{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
    color:#FFF;
    padding:1em;
    min-height:600px;
    max-width:700px;
    margin:auto;
}
.write-view > article > h1{
    font-family: 'Bree Serif', serif;
    color:#000;
    text-align:center;
    padding:1em;
}
div[id*="medium-editor"]{
    background-color: #FFF;
    border: solid 1px #ddd;
    color:#000;
    padding:1em;
}
.write-view--upload{
}
.write-view--title-row{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;

    margin-bottom:1em;
    max-width:700px;

    font-family: 'Bree Serif', serif;
    background-color: #FFF;
    border-radius:5px;
    color:#000;
}
.write-view--textcontainer{
    margin-bottom: 5em;
}
.write-view--input-row{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;

    margin-bottom:1em;
    max-width:700px;

    font-family: 'Bree Serif', serif;
    background-color: #FFF;
    border-radius:5px;
    color:#000;
}
.write-view--title-row > span{
    margin-bottom:0.2em;
}
.write-view--submit-row{
    margin-bottom: 5em;
    margin-top:0.5em;
}
#write-view--submit{
    font-family: 'Bree Serif', serif;
    width: 5em;
    margin-left:0.5em;

    background-color: #333;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: solid;
    border-color: #333;
    border-radius:5px;
    color:#FFF;
}
.write-view--title-row input[type="text"], .write-view--input-row input[type="text"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    -webkit-transition: box-shadow 0.3s, border 0.3s;
            transition: box-shadow 0.3s, border 0.3s;
}
.write-view--title-row input[type="text"]:focus,
.write-view--title-row input[type="text"].focus,
.write-view--input-row input[type="text"]:focus,
.write-view--input-row input[type="text"].focus{
    border: solid 1px #FFF;
    box-shadow: 0 0 5px 2px #969696;
}

#write-view--checkbox-label{
    color:#000;
    margin-left:0.3em;
}

