.mce-container{
    margin-bottom:0.5em;
}
.write-view > article{
    display:flex;
    flex-direction:column;
    color:#FFF;
    padding:1em;
    min-height:600px;
    max-width:700px;
    margin:auto;
}
.write-view > article > h1{
    font-family: 'Bree Serif', serif;
    text-align:center;
    padding:1em;
}
.write-view--title-row{
    display:flex;
    flex-direction:column;
    
    margin-bottom:1em;
    max-width:700px;
    padding:0.5em;
    
    font-family: 'Bree Serif', serif;
    background-color: #FFF;
    border-radius:5px;
    color:#000;
}
.write-view--title-row > span{
    margin-bottom:0.2em;
}
.write-view--submit-row{
    margin-bottom: 5em;
    margin-top:0.5em;
}
.write-view--submit-row > #write-view--submit{
    font-family: 'Bree Serif', serif;
    width: 5em;
    margin-left:0.5em;

    background-color: #FFF;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: solid;
    border-color: #FFF;
    border-radius:5px;
}
.write-view--title-row input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.write-view--title-row input[type="text"]:focus,
.write-view--title-row input[type="text"].focus {
  border: solid 1px #FFF;
  box-shadow: 0 0 5px 2px #969696;
}