/* Header */

header{
    background-color: #333;
    color:#FFF;
    font-family: Coneria;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.container-header{
    height:5em;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:reverse;
    -webkit-flex-direction:row-reverse;
        -ms-flex-direction:row-reverse;
            flex-direction:row-reverse;
    -webkit-justify-content:space-around;
        -ms-flex-pack:distribute;
            justify-content:space-around;
    width:100%;
    max-width:1000px;
}
.container-header > h1{
    margin:auto;
    margin-top: 0.5em;
    margin-right: 1.5em;
    float:right;
    cursor:pointer;
}
.container-header > h1 > a{
    color:#FFF;
    font-size:1.5em;
}
nav{
    position: absolute;
    padding:5px;
    float: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    z-index: 1050;
    background-color: #333;
}
.collapsed{
    height: initial;
}

nav ul{
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    
    display:-webkit-box;
    
    display:-webkit-flex;
    
    display:-ms-flexbox;
    
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
}
nav li{
    padding:0.5em;
    border-radius:8px;
    background-color:#FFF;
    margin:0.5em;
}
/* Styles the nav menu for mobile */
.nav-responsive-menu{
    background-color:#333;
    padding: 0.1em;
    border-radius: 8px;
    margin-right: 0.1em;
    margin-top: 0.5em;
    margin-bottom:0.5em;
    margin-left:0.5em;
}
nav li:not(.nav-responsive-menu){
    display:none;
}
nav li:hover{
    opacity:0.8;
    filter: alpha(opacity=80);
    cursor:pointer;
}
nav li > input{
    border-width: 0;
}
nav li > a{
    color:#000;
    font-family: 'Bree Serif', serif;
}

@media all and (min-width:800px){
    .container-header{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -webkit-flex-direction:row;
            -ms-flex-direction:row;
                flex-direction:row;
    }
    .container-header > h1{
        float:left;
    }
    nav{
        position: inherit;
        padding:0px;
        float: left;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: auto;
        height: initial;
        z-index: 1000;
        background-color: #333;
    }
    nav ul{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -webkit-flex-direction:row;
            -ms-flex-direction:row;
                flex-direction:row;
    }
    .nav-responsive-menu{
        display:none;
    }
    nav li:not(.nav-responsive-menu){
        display:block!important;
    }

}
/* Bounces the button with transform*/
.bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.bounce-in:hover, .bounce-in:focus, .bounce-in:active {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.menu-icon {
    position:relative;
    display:inline-block;
    width:70px;
    text-indent:-999px;
}
 
.border-icon {
    height:30px;
    border-top:10px solid #fff;
    border-bottom:10px solid #fff;
}
 
.border-icon:before {
    content:"";
    position:absolute; 
    top:10px;
    left:0;
    width:100%;
    border-top:10px solid #fff;
}