.video-view > article{
    display:flex;
    flex-direction:column;
    color:#FFF;
    padding:1em;
    max-width:700px;
    margin:auto;
}
.video-view > article > h1{
    font-family: 'Bree Serif', serif;
    color:#000;
    text-align:center;
    padding:1em;
}
.video-view--upload{
    }
.video-view--title-row{
    display:flex;
    flex-direction:column;

    margin-bottom:1em;
    max-width:700px;

    font-family: 'Bree Serif', serif;
    background-color: #FFF;
    border-radius:5px;
    color:#000;
}
.video-view--video-row{
    display:flex;
    flex-direction:column;

    margin-bottom:3em;
    max-width:700px;

    font-family: 'Bree Serif', serif;
    background-color: #FFF;
    border-radius:5px;
    color:#000;
}
.video-view--title-row > span{
    margin-bottom:0.2em;
}
.video-view--submit-row{
    margin-bottom:477px;
    margin-top:0.5em;
}
.video-view--submit-row > #video-view--submit{
    font-family: 'Bree Serif', serif;
    width: 5em;
    margin-left:0.5em;

    background-color: #333;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: solid;
    border-color: #333;
    border-radius:5px;
    color:#FFF;
}
.video-view--title-row input[type="text"], .video-view--video-row input[type="text"] {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
.video-view--title-row input[type="text"]:focus,
.video-view--title-row input[type="text"].focus,
.video-view--video-row input[type="text"]:focus,
.video-view--video-row input[type="text"].focus{
    border: solid 1px #FFF;
    box-shadow: 0 0 5px 2px #969696;
}

#video-view--checkbox-label{
    color:#000;
    margin-left:0.3em;
}