
.list-view{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex:100%;
    -webkit-flex:100%;
        -ms-flex:100%;
            flex:100%;
    max-width:1000px;
    padding:1em;
    padding-top:2em;
}
aside{
    margin: auto;
    border-bottom:1px solid;
}
.list-view > article{    
    margin: 0.5em;
    margin-bottom: 1em;
    margin-top:0;
    background-color:#FFF;
    -webkit-box-flex:40%;
    -webkit-flex:40%;
        -ms-flex:40%;
            flex:40%;
    
    border-bottom: 1px solid;
    padding: 1em;
}
.list-view > article:hover{
    opacity:0.8;
    filter:alpha(opacity=80);
}
.list-view > article a{
    color:#000;
}
.list-view > article a:hover{
    text-decoration:underline;
}
.article-textblock{
    padding:1em;
}
img{
    width:100%;
}
.container-row{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
        -ms-flex-pack:center;
            justify-content:center;
}
.article-textblock-author{
    font-family: 'Bree Serif', serif;
    font-style: italic;
}

/* Bounce Out */
.hvr-bounce-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
        transform: scale(0.9);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.aside-list{
    padding: 1em;
    height:100%;
    max-width: 400px;

    background-color:#FFF;
    border-radius:5px;
}
.aside-list > h2{
    font-family: 'Bree Serif', serif;
}
.aside-list a{
    color:#000;
}
.aside-list--register{
    font-family: 'Bree Serif', serif;
    width: 5em;

    background-color: #333;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: solid;
    border-color: #333;
    border-radius:5px;
}
.aside-list--register > a{
    color:#FFF;
}
.aside-list--register > a:hover{
    color:#FFF;
}
.article_header{
    height:10em;
    max-height:10em;
    min-height:10m;
    overflow: hidden;
    position:relative;
    display:none;
}
.article_header > img{
    top:-20%;
    left:0;
    position:absolute;
}
.article_header > h2{
    font-family: 'Bree Serif', serif;
    position: absolute;
    background: #FFF;
    padding: 0.5em;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    top: 4.3em;
    left:0;
}
.article_header a{
    color:#000;
}

a:hover{
    text-decoration:none;
}
.article-list-view{
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
}
.article-textblock--likes{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.article-textblock--likes-icon{
    width: 25px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.article-textblock--likes-section{
    min-width: 70px;
    margin-left: 10px;
}
@media all and (min-width:800px){
    .article_header > h2{
        left:50%;
        top:11em;
    }
    .article_header{
        height:20em;
        max-height: 20em;
        min-height:20em;
    }
    .article-list-view{
        -webkit-box-orient:horizontal;
        -webkit-box-direction:reverse;
        -webkit-flex-direction:row-reverse;
            -ms-flex-direction:row-reverse;
                flex-direction:row-reverse;
    }
    aside{
        border-bottom:0px solid;
        margin:0px;
    }
    .aside-list{
        margin:2em;
        margin-left:0px;
    }
    .list-view > article{
        border-bottom: 0px solid;
        padding: 0;
    }
}