.account--content{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
        max-width: 700px;
    margin: auto;
}
.account--content > article{
    border-bottom: 1px solid #333;
    margin: 1em;
    max-width: 1000px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.account-article--list-container{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}
.account--content > article > h2{
    margin-left:1em;
    margin-top:1em;
    font-family: 'Bree Serif', serif;
}
.account-article--list-container > div{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
        -ms-flex-direction:column;
            flex-direction:column;
    padding:2em;
    max-width:50%;
    min-width:50%;
}
.account-article--list-container > div:before,
:after {
  border-bottom: solid 2px #333;
}
.account-article--delete, .account-commission--delete{
    font-family: 'Bree Serif', serif;
    width: 6em;

    background-color: #333;
    box-sizing: border-box;
    padding: 2px 6px 3px;
    border-width: 2px;
    border-style: solid;
    border-color: #333;
    border-radius:5px;
    color:#FFF;
}
.account-commission--delete{
    margin-top:1em;
}
a{
    color:#333;
    cursor:pointer;
}
.account-article--sent{
    font-style: italic; 
}
.account-trophy--list img{
    min-width:30%;
    max-width:30%;
}
.account-commission--list img{
    width: 160px;
    height: 100px;
}
.account-article--list-container > div, .account-article--list-container label{
    cursor:pointer;
}
.account--content--empty{
    margin-left:2em;
    cursor:auto!important;
}
@media all and (min-width:800px){
    .account-article--list-container > div{
        max-width:50%;
        min-width:50%;
    }
}